source_up
export SANDBOX_API_APP=
export SANDBOX_API_APP_STAGE=development
export SANDBOX_API_APP_SWAGGER_BUCKET=${SANDBOX_API_APP}.${SANDBOX_API_APP_STAGE}.swagger
export SANDBOX_API_APP_SAM_BUCKET=${SANDBOX_API_APP}.${SANDBOX_API_APP_STAGE}.sam-app
